img{
    width: 1440px;
height: 1030px;
flex-shrink: 0;
align-items: center;
position: relative;
top: 500px;
}
.ort {
    margin: 0 auto;
  

}

body {
   
    width: 1440px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.jc {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.jc2 {
    display: flex;
    justify-content: space-between;
}

header {
    width: 1440px;
    height: 105px;
 
    margin: 0 auto;
    height: 0 auto;
}
p{
    color: #000;
    text-align: center;
    font-family: Rubik;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 130.769% */  
    position: relative;top: 60px;
}
.ttb{
    width: 850px;
height: 251px;
flex-shrink: 0;
border-radius: 20px;
background: #FFF;
position: relative;
top: -165px;
left: 300px;
}
.img{
    width: 160px;
    height: 50px;
    position: relative;
    left: 330px;
    top: 60px;
}